/* Universal */

html {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: sans-serif;
}

/* Header */
header {
  padding-left: 1.3rem;
  padding-right: 1.5rem;
  height: 4rem;
  display: flex;
  align-items: center;
}

header img {
  height: 80%;
}

.top-bar {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  margin: 0 auto;
  height: 100%;
}

.logo {
  display: flex;
  align-items: center;
  height: 2rem;
  font-size: 1.5rem;
}

.log1 {
  color: hsl(200, 10%, 20%);
  font-weight: 600;
}

.log2 {
  color: silver;
}

.top-bar .nav {
  height: 100%;
  display: flex;
}

.top-bar .nav li {
  border-right: 1rem solid skyblue;
  display: flex;
  align-items: center;
  color: hsl(200, 10%, 20%);
}

.top-bar .nav li:last-child {
  border-right: none;
}

.top-bar-mobile {
  display: none;
}

@media only screen and (max-width: 460px) {
  .top-bar, .leon {
    display: none;
  }
  .top-bar-mobile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 70%;
  }
}

/* Banner */

.banner {
  background-color: silver;
  display: flex;
  align-items: center;
}

.banner .image-container {
  width: 60%;
  display: flex;
  align-items: center;
  margin: 2rem 1.5rem;
}

.banner img {
  margin: 0;
  width: 100%;
  display: block;
}

.motto {
  height: 24rem;
  width: 40%;
  margin: auto auto auto 0;
  display: flex;
  flex-direction: column;
}

.motto h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: hsl(200, 10%, 20%);
  line-height: 1.2;
}

.motto p {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  color: hsl(200, 10%, 20%);
  line-height: 1.5;
}

.start-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: dimgray;
  font-size: 1.3rem;
  border-radius: 0.1rem;
  width: 80%;
}

.start-btn span {
  margin: 0.5rem auto;
}

@media only screen and (max-width: 460px) {
  .banner {
    display: flex;
    flex-direction: column;
  }

  .banner .image-container {
    width: 100%;
    margin: 0;
  }
  .banner .image-container img {
    height: 18rem;
  }

  .motto {
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    margin: 2rem 1rem;
  }

  .motto h1 {
    font-size: 2rem;
  }

  .motto p {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
  }

  .start-btn {
    width: 100%;
    height: 3rem;
  }
}

/* Information */

.information {
  display: flex;
  flex-direction: row;
}

.main {
  margin: 2rem 1.5rem;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main .image-container {
  width: 100%;
  display: block;
  margin-bottom: 2rem;
}

.main img {
  width: 100%;
}

.practice {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: hsl(200, 10%, 20%);
}

.practice h2 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.practice span {
  font-size: 0.8rem;
  margin-top: 3rem;
}

.articles {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-left: 0.1rem solid silver;
  width: 40%;
}

.article {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 0.2rem solid silver;
}

.article.grey {
  border-bottom: none;
  background-color: silver;
}

.article .image-container.first {
  margin-top: 0;
}

.article .image-container {
  width: 35%;
  margin: 1rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.article img, .articlle img {
  max-width: 100%;
}

.mobi {
  display: none;
}

.description {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  letter-spacing: 1px;
}

.description h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color:  hsl(200, 10%, 20%);
}

.special {
  display: none;
}

.description p {
  color: hsl(200, 10%, 20%);
  margin-bottom: 0.5rem;
}
.description span {
  color: dodgerblue;
}

@media only screen and (max-width: 460px) {
  .main {
    display: none;
  }

  .articles {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    border: none;
  }

  .article {
    flex-direction: column;
    align-items: flex-start;
    border: none;
  }

  .article.grey {
    background-color: white;
  }

  .article .image-container {
    width: 100%;
    margin: auto;
  }

  .article img, .articlle img {
    width: 100%;
    height: 13rem;
  }

  .desktop {
    display: none;
  }

  .mobi {
    display: block;
  }

  .description {
    width: 80%;
    margin-left: 1rem;
  }

  .our {
    display: none;
  }

  .special {
    display: block;
  }
}


/* learning */

.learning {
  background-color: hsl(200, 10%, 90%);
  padding: 2rem 4.5rem;
  margin-bottom: 2rem;
}

.learning h2, .thesis h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  text-align: center;
  color: hsl(200, 10%, 20%);
}

.top-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.course {
  width: 30%;
}

.course.star {
  margin: auto 2rem;
}

.course .image-container {
  display: block;
  width: 100%;
  height: auto;
}

.course img {
  width: 100%;
}

.info {
  margin: 1rem 1rem 1.5rem 1rem;
  line-height: 1.2;
  color: hsl(200, 10%, 20%);
}

.info h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.info p {
  margin-top: 0.5rem;
  line-height: 1.5;
}

/* Thesis  */

.thesis {
  margin-top: 2rem;
}

.information {
  display: flex;
  flex-direction: row;
}

.mainn {
  margin: 2rem 1.5rem;
  width: 60%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mainn .image-container {
  width: 100%;
  height: auto;
  margin-bottom: 1.5rem;
  background-color: silver;
}

.practise {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: hsl(200, 10%, 20%);
}

.practise h2 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.practise p {
  line-height: 1.5;
}

.articlez {
  padding-top: 2rem;
  padding-bottom: 2rem;
  width: 40%;
}

.articlle {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.articlle.grey {
  border-bottom: none;
  background-color: silver;
}

.articlle .image-container {
  width: 35%;
  margin: 1rem 1rem;
  height: auto;
  display: block;
}

.descriptionn {
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.descriptionn h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color:  hsl(200, 10%, 20%);
}

.descriptionn p {
  color: hsl(200, 10%, 20%);
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

/* Footer */

footer {
  border-top: 0.1rem solid silver;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  color: hsl(200, 10%, 20%);
  font-size: 0.9rem;
}

.copy-right {
  word-spacing: 1rem;
}
